<!DOCTYPE html>
<html lang="ru, en">
<head>
  <meta charset="UTF-8">
  <title>Тест</title>
</head>
<body>
  <h1>Лист персонажа</h1>
  <div name="General_info" class="list_block" style="display: flex; flex-direction: column; max-width: 200px">
    <input type="text" maxlength="30">
    <select id='race' name="Раса">
      {% for race in races %}
        <option>{{race}}</option>
      {% endfor %}
    </select>
    <select name="Тема">
      {% for theme in themes %}
        <option>{{theme}}</option>
      {% endfor %}
    </select>
    <p>Здесь будет класс и уровень</p>
    <p>Здесь будет уровень</p>
    <div name="life_signs" class="life_block" style="display: flex; flex-direction: row">
      <p>ПЖ: </p>
      <input type="number">
      <p>ПЗ: </p>
      <input type="number">
      <p>ПР: </p>
      <input type="number">
      <p>Скорость: </p>
      <input type="number" value="30">
    </div>
  </div>
  <div name="Attributes_and_skills" class="list_block">
      <p>Сила: </p>
      <input type="number" value="10">
      <p>Ловкость: </p>
      <input type="number" value="10">
      <p>Выносливость: </p>
      <input type="number" value="10">
      <p>Интеллект: </p>
      <input type="number" value="10">
      <p>Мудрость: </p>
      <input type="number" value="10">
      <p>Обаяние: </p>
      <input type="number" value="10">
  </div>
  <script>
    document.querySelector('select[id=race]').addEventListener('change', function() {
      let race = document.getElementById('race')
      let race_name = race.value
      console.log(race_name)
    });
  </script>
</body>
</html>